* {
    font-family: "Helvetica Neue", "Helvetica", arial, sans-serif; 
  }
  
  header h1 {
    font-weight: bolder;
    font-size: 3em;
    margin: 0px 10px;
  }
  
  header h2 {
    font-weight: lighter;
    margin: 0px 10px 10px;
  }
  header nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    width: 100%;
    background-color: #d9e4f4;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
  header nav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    background-color: #364b6b;
    color: white;
  }
  
  article {
    margin: 5% 2%;
  }
  
  article hgroup {
    border-left: 5px solid red;
  }
  
  article hgroup h1 {
    margin: 0px 10px;
    font-size: 2.3em;
  }
  
  article hgroup h2 {
    margin: 0px 10px 10px;
    font-weight: lighter;
  }
  
  article hgroup h3 {
    margin: 5px 10px 10px;
    font-weight: normal;
  }
  
  article section {
    width: 90%;
    margin: 10px 10px;
  }
  
  article section h4 {
    font-size: 1.3em;
    font-weight: lighter;
    margin: 30px 10px 10px;
  }
  
  article section p {
    margin: 10px 20px;
  }
  
  code {
    font-family: "Menlo", monospace;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 2px 4px;
       border-radius: 5px;
  }
  
  footer p {
    color: #9b9b9b;
    border-top: 1px solid #9b9b9b;
      padding: 10px;
  }